<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.bookApp1"
          android:versionCode="2"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="ANDROID.PERMISSION.BLUETOOTH_ADMIN"/>
    <application android:label="@string/app_name">
        <activity android:name="BookAppActivity1"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="BookAppActivity2" android:label="@string/app_name">
        </activity>

        <activity android:name=".ConnectionActivity" android:label="@string/app_name">
        </activity>
    </application>
</manifest>
